.container {
  height: 100%;
  width: 100%;
  /* place-content: center; */
  background-color: dimgrey;
}

.graph {
  height:450px;
  width:450px;
  padding-right: 25px;
}

.App {
  display: flex;
  flex-direction: row;
  min-height: 700px;
  place-content: center;
  padding-top: 50px;
}

.board{
  position:relative;
  min-width:450px;
  min-height:450px;
  width:450px;
  height:450px;
  z-index:0;
}

.tw{
  background-color: #eeeed5;
  float:left;
  height:150px;
  width:150px;
  z-index:0
}

.tb{
  background-color: #7d945d;
  float:left;
  height:150px;
  width:150px;
  z-index:0
}

.piece{
  position:absolute;
  height:150px;
  width:150px;
  background-size: 150px;
  background-repeat: no-repeat;
  z-index:1;
}


.piece:hover{
  cursor:pointer
}

.piece:active{
  cursor:pointer
}

.piece-capture{
  background: radial-gradient(transparent 0%, transparent 79%, rgba(20,85,0,0.3) 80%);
}

.place-available{
  background: radial-gradient(rgba(20,85,30,0.5) 19%, rgba(0,0,0,0) 20%);
}

.piece-selected{
  background-color: rgba(20,85,30,0.4);
}

#pb{
  background-image:url('./assets/Chess_pdt45.svg.png')
}
#pw{
  background-image:url('./assets/Chess_plt45.svg.png')
}